<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <label for="login">Login</label>
        <form action="/users/login" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha">
            <button type="submit">Enviar</button>
        </form>
        <hr>
        <label for="cadastro" style="">Cadastro</label>
        <form action="/users/cadastro" method="post">
            <label for="nome">Nome</label>
            <input type="nome" name="nome" id="nome" placeholder="Nome" class="erros">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="E-mail" class="erros">
          
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="Senha" class="erros">
            
            <button type="submit">Enviar</button>
            <% if(typeof(errors) != "undefined"){%> 
                <% errors.forEach((error)=>{%>
                    <style>
                        .erros{
                            border-color: red;
                        }
                    </style>
                    <!-- <script>
                        let erroMsg = document.getElementById('erro').innerHTML = error.msg
                    </script> -->
                <%})%>
                <ul style="list-style: none;">
                    <% errors.forEach((error)=>{%>
                        <li><%= error.msg %></li>
                     <%})%>
                </ul>                  
            <% } %>
           
        </form>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>